<div class="row">
    <div class="col-sm-4">
        <button [disabled]="(disableButton == 2)" class="btn btn-primary width-50p font-size-30px" (click)="withComputer(1)">Play with computer</button>
    </div>
    <div class="col-sm-4">
        <button [disabled]="(disableButton == 1)" class="btn btn-primary width-50p font-size-30px" (click)="withComputer(2)">Multi-player</button>        
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary width-50p font-size-30px" (click)="enableButtons()">Change opponent</button>                
    </div>
    <div class="col-sm-12" *ngIf="isAnySelected">
        <with-computer [flagComputer]="isComputerSelected"></with-computer>
    </div>
</div>